.overlay {
    height: 100%;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 4;
}

.modal_open {
    visibility: visible;
}

.modal__title {
    margin-left: 36px;
    margin-top: 34px;
    font-family: "Roboto Large", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px;
    color: rgba(26, 27, 34, 1);
    height: 32px;
    
}

.modal__close {
    position: absolute;
    top: -46px;
    right: -46px;
    padding: 0;
    margin: 0;
    background-image: url('../../assets/close.svg');
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal__content {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 16px;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin: 0 36px 28px;
    width: 358px;
}

.modal__input {
    width: 100%;
    padding: 9px 0 10px;
    margin: 0;
    display: block;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 1);
    outline: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.modal__input:focus {
    border-bottom: solid 1px rgba(0, 0, 0, 1);
}

.modal__input-error {
    color: rgba(255, 0, 0, 1);
    font-family: "Inter Reg", Arial, Helvetica, sans-serif;
    display: none;
    font-size: 12px;
    line-height: 15px;
    margin-top: 3px;
}

.modal__input-error_visible {
    display: block;
}

.modal__label {
    margin-top: 13px;
    font-family: "Inter Reg", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: rgba(47, 113, 229, 1);
}

.modal__next-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__submit {
    background-color: rgba(230, 232, 235, 1);
    color: rgba(182, 188, 191, 1);
    border: none;
    font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    border-radius: 100px;
    height: 64px;
    width: 100%;
    padding: 0;
    margin: 40px 0 16px;
    cursor: not-allowed;
}

.modal__submit__valid{
    background: rgba(47, 113, 229, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    border-radius: 100px;
    height: 64px;
    width: 100%;
    padding: 0;
    margin: 40px 0 16px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);

}

.modal__second-btn {
    background: none;
    font-family: "Inter Reg", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: rgba(47, 113, 229, 1);
    border: none;
    padding: 0;
    cursor: pointer;
}

.modal__submit__valid:hover {
    background-color: rgba(52,126,255,1);
}

.modal__submit__valid:active {
    background-color: rgba(42, 101, 204, 1);
}

.modal__alt-text {
    color: rgba(0, 0, 0, 1);
}

.modal__menu {
    align-items: start;
}

.modal__close_menu {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url('../../assets/close.svg');
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal__content_menu {
    width: 100%;
    max-height: 300px;
    background: rgba(26, 27, 34, 1);
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
}

.modal__title_menu {
    font-family: "Roboto-slab Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    padding: 16px;
    margin: 0;
    border-bottom: 2px solid rgba(196, 196, 196, 0.1);
}

.modal__menu_login-logout {
    padding: 0;
    margin: 19px auto 24px;
    background: none;
    color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(255, 255, 255, 1);
    width: 288px;
    height: 56px;
    border-radius: 100px;
    font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.modal__menu-link {
    font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin: 16px 16px 0 16px;
}

@media screen and (max-width: 500px) {
    .modal {
        align-items:end;
        width: 100%;
    }

    .modal__menu {
        align-items: start !important;
    }

    .modal__content {
        height: 93%;
        border-radius: 16px 16px 0 0;
    }

    .modal__title {
        margin: 16px 0 18px 17px
    }

    .modal__form {
        margin: 0 16px;
        width: 288px;
        gap: 30px;
    }

    .modal__label {
        margin: 0;
    }

    .modal__submit {
        margin: -7px 0 16px 0;
    }

    .modal__close {
        top: -40px;
        right: 16px;
        width: 24px;
        height: 24px;
    }

    .modal__close_menu {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('../../assets/close.svg');
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .modal__content_menu {
        width: 100%;
        max-height: 300px;
        background: rgba(26, 27, 34, 1);
        border-radius: 0 0 16px 16px;
        display: flex;
        flex-direction: column;
    }

    .modal__title_menu {
        font-family: "Roboto-slab Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        padding: 16px;
        margin: 0;
        border-bottom: 2px solid rgba(196, 196, 196, 0.1);
    }

    .modal__menu_login-logout {
        padding: 0;
        margin: 19px auto 24px;
        background: none;
        color: rgba(255, 255, 255, 1);
        border: solid 1px rgba(255, 255, 255, 1);
        width: 288px;
        height: 56px;
        border-radius: 100px;
        font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

    .modal__menu-link {
        font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        margin: 16px 16px 0 16px;
    }
    
}

@media screen and (max-width: 320px) {

    .modal {
        align-items:end;
    }

    .modal__menu {
        align-items: start !important;
        max-width: 320px;
    }

    .modal__content {
        height: 93%;
        border-radius: 16px 16px 0 0;
    }

    .modal__title {
        margin: 16px 0 18px 17px
    }

    .modal__form {
        margin: 0 16px;
        width: 288px;
        gap: 30px;
    }

    .modal__label {
        margin: 0;
    }

    .modal__submit {
        margin: -7px 0 16px 0;
    }

    .modal__close {
        top: -40px;
        right: 16px;
        width: 24px;
        height: 24px;
    }

    .modal__close_menu {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('../../assets/close.svg');
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .modal__content_menu {
        width: 100%;
        max-height: 300px;
        background: rgba(26, 27, 34, 1);
        border-radius: 0 0 16px 16px;
        display: flex;
        flex-direction: column;
    }

    .modal__title_menu {
        font-family: "Roboto-slab Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        padding: 16px;
        margin: 0;
        border-bottom: 2px solid rgba(196, 196, 196, 0.1);
    }

    .modal__menu_login-logout {
        padding: 0;
        margin: 19px 16px 24px;
        background: none;
        color: rgba(255, 255, 255, 1);
        border: solid 1px rgba(255, 255, 255, 1);
        width: 288px;
        height: 56px;
        border-radius: 100px;
        font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

    .modal__menu-link {
        font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        margin: 16px 16px 0 16px;
    }
}