.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 104px 0 ;
}

.nav__logo {
    font-family: "Roboto-slab Bold";
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 42px;
}

.nav__home-btn {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 0 10px 23px;
    font-family: "Roboto Meduim";
    font-size: 18px;
    line-height: 24px;
}

.nav__home-btn_saved {
    color: rgba(26, 27, 34, 1);
    text-decoration: none;
    padding: 0 10px 23px;
    font-family: "Roboto Meduim";
    font-size: 18px;
    line-height: 24px;
}

.nav__btn_focused {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.nav__saved-btn_focused {
    border-bottom: 3px solid rgba(26, 27, 34, 1);
    color: rgba(26, 27, 34, 1);
}

.nav__signup-btn {
    padding: 0;
    background: none;
    color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(255, 255, 255, 1);
    width: 176px;
    height: 48px;
    border-radius: 100px;
    font-family: "Roboto Meduim";
    font-size: 18px;
    line-height: 24px;
}

.nav__profile-btn {
    padding: 12px 15px 12px 19px;
    background: none;
    color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(255, 255, 255, 1);
    height: 48px;
    border-radius: 100px;
    font-family: "Roboto Meduim";
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.nav__profile-btn_text {
    margin-right: 15px;
}

.nav_profile-btn_saved {
    padding: 12px 15px 12px 19px;
    background: none;
    color: rgba(26, 27, 34, 1);
    border: solid 1px rgba(209, 210, 214, 1);
    height: 48px;
    border-radius: 100px;
    font-family: "Roboto Meduim";
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.nav__menu-img {
    display: none;
    cursor: "pointer"
}

.nav__menu-img_hidden {
    display: none;
    background-image: none;
}

@media screen and (max-width: 900px) {
    .nav__content {
        padding: 14px 40px 0 
    }
}

@media screen and (max-width: 768px) {
    .nav__content {
        padding: 14px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__profile-btn {
        display: none;
    }

    .nav__links {
        gap: 16px;
    }

    .nav__home-btn_saved {
        display: block;
        font-size: 16px;
        padding: 14px 10px 17px;
    }

    .nav__home-btn {
        display: none;
    }

    .nav_profile-btn_saved {
        display: flex;
        width: 150px;
        height: 40px;
    }

    .nav__profile-btn_text {
        font-size: 16px;
    }

    .nav__signup-btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .nav__content {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__signup-btn {
        display: none;
    }

    .nav__menu-img {
        display: block;
        background: transparent;
        width: 24px;
        height: 24px;
        border: none;
    }

    .nav__profile-btn {
        display: none;
    }

    .nav__home-btn_saved {
        display: none;
    }

    .nav_profile-btn_saved {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .nav__home-btn {
        display: none;
    }

    .nav__links {
        gap: 0;
    }
    
    .nav__logo {
        font-family: "Roboto-slab Bold";
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        max-width: 117px;
    }

    .nav__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px ;
    }

    .nav__signup-btn {
        display: none;
    }

    .nav__menu-img {
        display: block;
        background: transparent;
        width: 24px;
        height: 24px;
        border: none;
    }

    .nav__profile-btn {
        display: none;
    }

    .nav__home-btn_saved {
        display: none;
    }

    .nav_profile-btn_saved {
        display: none;
    }
}