.news-cards-list {
    background-color: #f5f6f7;
    padding-bottom: 62px;
    margin: 0 auto;
  }
  
  .news-cards-list_hidden {
    display: none;
  }

  .news-cards-list__not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 310px;
    align-items: center;
    margin: 0 auto;
    padding-top: 86px;
  }
  
  .news-cards-list__not-found_hidden {
    display: none;
  }

  .news-cards-list__not-found-img {
    height: 82.5px;
    width: 82.5px;
  }

  .news-cards-list__not-found-title {
    font-family: "Roboto-Slab-reg", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-top: 40px;
  }
  
  .news-cards-list__not-found-text {
    padding-top: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #b6bcbf;
    margin: 0;
  }

  .preloader {
    max-width: 310px;
    align-items: center;
    margin: 0 auto;
    height: 282px;
  }

  .preloader_hidden {
    display: none;
  }

  .preloader__text {
    font-family: "Roboto Reg", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-top: 180px;
    margin: 0;
  }

  .news-cards-list__more-button {
    display: block;
    margin: auto;
    margin-top: 64px;
    height: 64px;
    width: 288px;
    border-radius: 80px;
    font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border: none;
    background-color: #fff;
    padding: 0;
    color: #1a1b22;
  }

  .news-cards-list__more-button:hover {
    background: rgba(232, 232, 232, 1);

  }

  .news-cards-list__title {
    margin: 0 0 64px 0;
    padding-left: 104px;
    padding-top: 80px;
    font-family: "Roboto-Slab-reg", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
  }

  .news-cards-list__title_hidden {
    display: none;
  }

  .news-cards-list__cards {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    padding-top: 32px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .news-cards-list__more-button_hidden {
    display: none;
  }

  .hide {
    display: none;
  }

  @media screen and (max-width: 768px) {

    .news-cards-list {
      background-color: #f5f6f7;
      padding-bottom: 32px;
      margin: 0 auto;
    }

    .news-cards-list__cards {
      margin: 0 0 0 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 8px;
      list-style-type: none;
      padding: 32px 40px 0 40px;
    }

    .news-cards-list__title {
      margin: 0;
      padding-left: 40px;
      padding-top: 40px;
      font-family: "Roboto-Slab-reg", Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 34px;
      text-align: left;
    }

    .news-cards-list__more-button {
      display: block;
      margin: 32px auto 0;
      height: 56px;
      width: 240px;
      border-radius: 80px;
      font-family: "Roboto Meduim", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      border: none;
      background-color: #fff;
      padding: 0;
      color: #1a1b22;
    }
  }

  @media screen and (max-width: 320px) {
    .news-cards-list__title {
      margin: 0;
      padding-left: 16px;
      padding-top: 32px;
      font-family: "Roboto-Slab-reg", Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 34px;
      text-align: left;
    }

    .news-cards-list__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      list-style-type: none;
      margin-top: 56px;
      padding: 0 16px;
    }
  }